name: Publish Docs
on:
  release:
    types: [published]
  push:
    branches:
      - main 

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          pip install mkdocs-material mike mkdocstrings[python]
          pip install .

      - name: Deploy Release Version
        if: github.event_name == 'release'
        run: |
          # 1. Déploie le tag actuel (ex: v1.0.0) ET met à jour l'alias "latest"
          mike deploy --push --update-aliases ${{ github.ref_name }} latest
          
          # 2. Définit "latest" comme la version par défaut (redirige la racine vers latest)
          mike set-default --push latest

      - name: Deploy Main Version (Dev)
        if: github.event_name == 'push'
        run: |
          # Déploie simplement la version "main" sans changer le défaut
          mike deploy --push main
